@font-face{
  font-family: 'Pentameter VF';
  src: url('../fonts/Pentameter-VF.woff2') format('woff2-variations');
  font-style: normal;
}

/*---------------------------------
BASIC VARIABLES & TYPOGRAPHY
----------------------------------*/

:root{
  --wght: 500;
  --wdth: 100;
  --slnt: 0;
  --ss01: 1;
  --ss02: 0;
  --ss03: 0;
  --ss04: 0;
  --ss05: 0;
  --ss06: 0;
  --ss07: 0;
  --ss08: 0;
  --ss09: 0;

  --grey: rgb(80,80,80);

  --size: 22px;
  --pad: 1.5rem;
  --button-width: 68px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-variation-settings: 'wdth' var(--wdth), 'wght' var(--wght), 'slnt' var(--slnt);
}

h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}
body, h2{
	font-size: var(--size);
  line-height: 1.4;
  font-family: "Pentameter VF";
  font-weight: normal;
  background: black;
  color: white;
  letter-spacing: 0.05em;
}

.jp{
  font-family: 'Cinema Letter';
}

em{
  font-style: normal;
  --slnt: 12;
}

a{
  text-decoration: none;
  color: white;
}


/*---------------------------------
BASIC SECTION STRUCTURES
----------------------------------*/

header, footer{
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  letter-spacing: 2px;
  --wdth: 125;
  font-size: 16px;
}

main{
  flex: 1;
  display: flex;
  align-items: center;
}

header, footer{
  height: 30px;
  margin: var(--pad);
  flex: none;
  --slnt: 0;
}
#home a{
  position: relative;
  top: 2px;
}
footer .jp{
  position: relative;
  top: 2px;
}
section{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
}


//intro splash page
#splash{
  display: flex;
  align-items: center;
  justify-content: center;

  .intro{
    width: 500px;
  }

  text-align: center;

  h1{
    font-size: 55px;
    --wght: 200;
  }
  cursor: pointer;
}


/*-----------------------
 OVERLAY SHOW/HIDE TOGGLE
-----------------------*/
//data-mode of body determines
//which section is displayed
.overlay{
  overflow: hidden;
  z-index: 50; //these overlay on top of the poem area
  opacity: 0;
  max-height: 0;
  transition: opacity 1s ease-in-out;
}
[data-mode=intro] {
  #splash{
    max-height: none;
    opacity: 1;
  }
}
[data-mode=stage] {
  #splash{
    max-height: none;
    // display: none;
    animation: fade 1ms 1s reverse 1 forwards;
    opacity: 0;
  }
  #info{
    max-height: none;
    animation: fade 1ms 1s reverse 1 forwards;
    opacity: 0;
  }
}

[data-mode=info] {
  #info{
    // display: block;
    max-height: none;
    opacity: 1;
    z-index: 100;
  }
  // #info{
  //   display: flex;
  // }
}

@keyframes fade{
  0%{
    max-height: 0;
  }
  100%{
    max-height: none;
  }
}
/*---------------
 MAIN STAGE
---------------*/
//poem display area

#stage{
  display: flex;
  flex-direction: column;
}

#content{
  margin: auto;
  position: relative;
  top: -0.5rem;
  padding: 0 20%;
  font-size: 40px;
  --ss01: 1;
  --slnt: 10;
  font-feature-settings: "ss01" var(--ss01), "ss03" var(--ss03), "ss04" var(--ss04), "ss05" var(--ss05), "ss06" var(--ss06), "ss07" var(--ss07), "ss08" var(--ss08), "ss09" var(--ss09);
  text-align: center;
  letter-spacing: -0.01em;
}

//season navigation
.controls{
  height: 80vh;
  cursor: pointer;
  position: fixed;
  z-index: 100;
  width: 200px;
  // .arrow{
  //   display: block;
  //   position: absolute;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   font-size: 30px;
  //   --wght: 200;
  //   opacity: 0;
  //   transition: opacity 200ms linear;
  // }
  &:hover{
    .arrow{
      opacity: 1.0;
    }
    // --wght: 700;
  }
}
#next{
  right: 0;
  cursor: url('../img/cursor-next.svg'), auto;
}
#prev{
  left: 0;
  cursor: url('../img/cursor-prev.svg'), auto;
}


//button styling and
//hover effects
.button{
  font-size: 16px;
  width: var(--button-width);
  text-align: left;
  &::before{
    content: "[ "
  }
  &::after{
    content: " ]"
  }
  &:hover{
    cursor: pointer;
    &::before{
      content: "{ "
    }
    &::after{
      content: " }"
    }
  }
}


#dateinfo:hover{
  cursor: pointer;
  &::before{
    content: "{ "
  }
  &::after{
    content: " }"
  }
}

//vertically center symbols with brackets
#weather:hover{
  cursor: pointer;
  &::before{
    content: "{ ";
    position: relative;
    top: -2px;
  }
  &::after{
    content: " }";
    position: relative;
    top: -2px;
  }
}

#playbutton{
  &[data-playall=true]{
    position: relative;
    top: -3px;
    &::before{
      position: relative;
      top: 3px;
    }
    &::after{
      position: relative;
      top: 3px;
    }
  }
}

//audio / mute toggle as stylistic set 5
#mutebutton{
  &[data-mute=false]{
    font-feature-settings: "ss05" 0;
  }
  &[data-mute=true]{
    font-feature-settings: "ss05" 1;
  }
}

//hide, then display peripheral elements
//via js
header > div, #home, .controls, footer > div, #languages{
  // visibility: hidden;
  // display: none;
  opacity: 0;
  transition: opacity 350ms ease-in-out;
}

/*-----------------------------
ABOUT INFO
-----------------------------*/

#info{
  --wght: 350;
  height: auto;
  .back{
    margin: var(--pad);
  }
}
.table, .texts{
  margin: var(--pad);
  margin-bottom: calc( 3*var(--pad));
}
.star{
  visibility: hidden;
  width: var(--button-width);
  text-align: center;
}
.current .star{
  visibility: visible;
}
.table {
  margin-top: var(--pad);
  border-top: 1px solid white;
  padding-top: var(--pad);
  
  .star, .range, .text{
    font-family: 'Pentameter VF';
  }
  .row{
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    .name{
      font-family: 'Cinema Letter';
      font-size: 1rem;
      top: 3px;
      position: relative;
      flex: 2;
    }
    .text{
      flex: 3;
    }
    .range{
      text-transform: uppercase;
      --wdth: 125;
      font-size: 0.7em;
      letter-spacing: 0.1em;
      flex: none;
      width: 100%;
      padding-left: var(--button-width);
    }
  }

  .text{
    --slnt: 8;
  }
}
//about texts
.texts{
  margin-top: var(--pad);
  border-top: 1px solid white;
  padding-top: var(--pad);
  --size: 18px;

  //accordion headings
  h2{
    margin: var(--pad) 0;
    text-transform: uppercase;
    --wght: 400;
    &:hover{
      cursor: pointer;
      .button::before{
        content: "{ "
      }
      .button::after{
        content: " }"
      }
    }
  }
  .button{
    --wght: 400;
    font-size: var(--size);
  }

  p{
    font-size: var(--size);
    --slnt: 8;
    max-width: 38em;
    font-feature-settings: "onum" 1;
    text-indent: 3em;
    letter-spacing: 0;
    &:first-child{
      text-indent: 0;
    }
  }
  // p.bio{
  //   font-size: .85em;
  //   position: absolute;
  //   letter-spacing: 0.05em;
  //   --wght: 380;
  //   --slnt: 0;
  //   left: 64%;
  //   top: 0;
  //   padding-right: var(--pad);
  // }
  a{
    font-feature-settings: "ss03" 1;
    &:hover{
      font-feature-settings: "ss03" 0;
    }
  }

}

.jp-loader{
  visibility: hidden;
}
// data-infomode on info section determines
// what about text is displayed
.about{
  position: relative;
  // display: none;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 400ms ease-in-out;

  &.show{
    max-height: none;
    opacity: 1;
  }
}


// [data-infomode=text]{
//   [data-info=text]{
//     display: block;
//   }
// }
// [data-infomode=sound]{
//   [data-info=sound]{
//     display: block;
//   }
// }
// [data-infomode=font]{
//   [data-info=font]{
//     display: block;
//   }
// }

/*-----------------------------
 LANGUAGE MENU
-----------------------------*/

// language selection dropdown
#languages{
  -moz-appearance: none;
  -webkit-appearance: none;
  background: black;
  color: white;
  border: 0;
  font-family: 'Pentameter VF';
  font-size: 16px;
  cursor: pointer;
  &:focus{
    outline: none;
  }
}

[lang=sr]{
  --ss07: 1;
}
[lang=cv]{
  --ss08: 1;
}
[lang=mk]{
  --ss09: 1;
}
