@font-face{
  font-family: 'Pentameter VF';
  src: url('../fonts/Pentameter-VF.woff2') format('woff2-variations');
  font-style: normal;
}

:root{
  --wght: 300;
  --wdth: 100;
  --slnt: 0;
  --ss01: 0;
  --ss03: 1;
}

*{
  margin: 0;
  padding: 0;
  font-variation-settings: 'wdth' var(--wdth), 'wght' var(--wght), 'slnt' var(--slnt);
}

h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}
body{
	font-size: 18px;
  line-height: 1.4;
  font-family: "Pentameter VF";
  font-weight: normal;
  background: black;
  color: white;

  &[data-typed=done]{
    header, footer, .controls{
      visibility: visible;
    }
  }
}

header, footer, .controls{
  visibility: hidden;
}
header{
  display: flex;
  justify-content: space-between;
}

main{
  flex:  1;
  display: flex;
  align-items: center;
}

header, footer{
  height: 50px;
  margin: 2rem 3rem;
  flex: none;
  --slnt: 0;
}

footer{
  text-align: center;
}

section{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
//intro splash
#overlay{
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;

  .intro{
    width: 500px;
  }
  
  text-align: center;
  letter-spacing: 0.02em;
  --wght: 480;
  --wdth: 100;

  h1{
    font-size: 45px;
    --wght: 200;
  }
  cursor: pointer;
}
//main area
#stage{
  display: flex;
  flex-direction: column;
}
[data-mode=stage] #overlay{
  display: none;
}

#content{
  margin: auto;
  padding: 0 5%;
  font-size: 40px;
  --ss01: 0;
  --slnt: 10;
  font-feature-settings: "ss01" var(--ss01);
  text-align: center;
}

a{
  text-decoration: none;
  color: white;
}

.controls{
  font-size: 30px;
  padding: 1em;
  padding-top: 1.5em;
  cursor: pointer;
}

#playbutton{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}
