@font-face {
  font-family: "Pentameter VF";
  src: url("../fonts/Pentameter-VF.woff2") format("woff2-variations");
  font-style: normal;
}
/*---------------------------------
BASIC VARIABLES & TYPOGRAPHY
----------------------------------*/
:root {
  --wght: 500;
  --wdth: 100;
  --slnt: 0;
  --ss01: 1;
  --ss02: 0;
  --ss03: 0;
  --ss04: 0;
  --ss05: 0;
  --ss06: 0;
  --ss07: 0;
  --ss08: 0;
  --ss09: 0;
  --grey: rgb(80,80,80);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-variation-settings: "wdth" var(--wdth), "wght" var(--wght), "slnt" var(--slnt);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

body, h2 {
  font-size: 18px;
  line-height: 1.4;
  font-family: "Pentameter VF";
  font-weight: normal;
  background: black;
  color: white;
  letter-spacing: 0.05em;
}

.jp {
  font-family: "Cinema Letter";
}

em {
  font-style: normal;
  --slnt: 16;
}

a {
  text-decoration: none;
  color: white;
}

/*---------------------------------
BASIC SECTION STRUCTURES
----------------------------------*/
header, footer {
  display: flex;
  justify-content: space-between;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
}

header, footer {
  height: 30px;
  margin: 1.5rem 1.5rem;
  flex: none;
  --slnt: 0;
}

footer .jp {
  line-height: 0.9;
}

section {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
}

.overlay {
  z-index: 50;
}

#splash {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
#splash .intro {
  width: 500px;
}
#splash h1 {
  font-size: 55px;
  --wght: 200;
}

/*-----------------------
 OVERLAY SHOW/HIDE TOGGLE
-----------------------*/
[data-mode=stage] .overlay {
  display: none;
}
[data-mode=stage] #splash {
  display: none;
}

[data-mode=lang] #langmenu {
  display: block;
}

[data-mode=info] #info {
  display: flex;
}

/*---------------
 MAIN STAGE
---------------*/
#stage {
  display: flex;
  flex-direction: column;
}

#content {
  margin: auto;
  padding: 0 20%;
  font-size: 40px;
  --ss01: 1;
  --slnt: 10;
  --wght: 300;
  font-feature-settings: "ss01" var(--ss01), "ss03" var(--ss03), "ss04" var(--ss04), "ss05" var(--ss05), "ss06" var(--ss06), "ss07" var(--ss07), "ss08" var(--ss08), "ss09" var(--ss09);
  text-align: center;
  letter-spacing: -0.01em;
}

.controls {
  font-size: 30px;
  --wght: 200;
  padding: 1em;
  padding-top: 1.5em;
  cursor: pointer;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}
.controls:hover {
  /* --wght: 700; */
}

#next {
  right: 0;
}

#back {
  left: 0;
}

.button {
  width: 65px;
  text-align: left;
}
.button::before {
  content: "[ ";
}
.button::after {
  content: " ]";
}
.button:hover {
  --wght: 700;
  cursor: pointer;
}

#dateinfo:hover {
  --wght: 700;
}

#dateinfo:hover, #weather:hover {
  cursor: pointer;
}
#dateinfo:hover::before, #weather:hover::before {
  content: "[ ";
}
#dateinfo:hover::after, #weather:hover::after {
  content: " ]";
}

#mutebutton[data-mute=false] {
  font-feature-settings: "ss05" 0;
}
#mutebutton[data-mute=true] {
  font-feature-settings: "ss05" 1;
}

#langbutton {
  width: 80px;
}

header > div, .controls, footer > div {
  /* visibility: hidden; */
  opacity: 0;
  transition: opacity 350ms ease-in-out;
}

/*-----------------------------
ABOUT INFO
-----------------------------*/
#info {
  display: none;
  --size: 1.2rem;
}
#info .texts, #info .table {
  flex: 1;
  padding: 1.5em;
}
#info .table {
  flex: 2;
  height: 100vh;
  overflow: scroll;
}
#info h2, #info p, #info dl {
  font-feature-settings: "onum" 1;
  font-size: var(--size);
  --wdth: 80;
  --wght: 380;
}
#info h2 {
  margin: 1.4em 0;
}
#info p {
  text-indent: 3em;
}
#info p:first-child {
  text-indent: 0;
}
#info p a {
  font-feature-settings: "ss03" 1;
}
#info p a:hover {
  font-feature-settings: "ss03" 0;
}
#info .weight {
  font-feature-settings: "onum" 0;
}

dt {
  display: flex;
}

.table .row {
  font-family: "Pentameter VF";
  margin-bottom: 1.4em;
  display: flex;
}
.table .row .name, .table .row .kana {
  font-family: "Cinema Letter";
  font-size: 1.2rem;
}
.table .row .name {
  width: 120px;
}
.table .row .description {
  flex: 1;
}
.table .row .range {
  width: 180px;
}
.table .heading, .table .cell {
  font-weight: normal;
  text-align: left;
}
.table .text, .table .weight {
  --slnt: 8;
  font-variation-settings: "wdth" var(--wdth), "wght" 400, "slnt" var(--slnt);
  padding-right: 1em;
}
.table .heading {
  text-transform: uppercase;
  --slnt: 0;
}

.about {
  display: none;
}

.jp-loader {
  visibility: hidden;
}

[data-infomode=text] .range, [data-infomode=text] .text {
  color: white;
}
[data-infomode=text] [data-info=text] {
  display: block;
}

[data-infomode=sound] .name, [data-infomode=sound] .sound {
  color: white;
}
[data-infomode=sound] [data-info=sound] {
  display: block;
}

[data-infomode=font] .text, [data-infomode=font] .weight {
  color: white;
  font-variation-settings: "wdth" var(--wdth), "wght" var(--wght), "slnt" var(--slnt);
}
[data-infomode=font] [data-info=font] {
  display: block;
}

/*-----------------------------
 LANGUAGE MENU
-----------------------------*/
#langmenu {
  padding: 1.5rem;
  display: none;
}

#languages {
  column-count: 4;
  line-height: 2;
  margin: 1.5rem 0;
}

.language {
  cursor: pointer;
}
.language:hover, .language.active-lang {
  font-feature-settings: "ss03" 1;
}

[lang=sr] {
  --ss07: 1;
}

[lang=cv] {
  --ss08: 1;
}

[lang=mk] {
  --ss09: 1;
}

/*# sourceMappingURL=style.css.map */
