@font-face {
  font-family: "Pentameter VF";
  src: url("../fonts/Pentameter-VF.woff2") format("woff2-variations");
  font-style: normal;
}
/*---------------------------------
BASIC VARIABLES & TYPOGRAPHY
----------------------------------*/
:root {
  --wght: 500;
  --wdth: 100;
  --slnt: 0;
  --ss01: 1;
  --ss02: 0;
  --ss03: 0;
  --ss04: 0;
  --ss05: 0;
  --ss06: 0;
  --ss07: 0;
  --ss08: 0;
  --ss09: 0;
  --grey: rgb(80,80,80);
  --size: 22px;
  --pad: 1.5rem;
  --button-width: 68px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-variation-settings: "wdth" var(--wdth), "wght" var(--wght), "slnt" var(--slnt);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

body, h2 {
  font-size: var(--size);
  line-height: 1.4;
  font-family: "Pentameter VF";
  font-weight: normal;
  background: black;
  color: white;
  letter-spacing: 0.05em;
}

.jp {
  font-family: "Cinema Letter";
}

.jp-loader {
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

em {
  font-style: normal;
  --slnt: 12;
}

a {
  text-decoration: none;
  color: white;
}

/*---------------------------------
BASIC SECTION STRUCTURES
----------------------------------*/
header, footer {
  height: 78px;
  width: 100%;
  position: fixed;
  padding: var(--pad);
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  --wdth: 125;
  --slnt: 0;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

main {
  position: fixed;
  top: 78px;
  display: flex;
  align-items: center;
  height: calc(100vh - 156px);
  width: 100%;
}

footer .jp {
  position: relative;
  top: 2px;
}

section {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: black;
}

#splash {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
#splash .intro {
  width: 500px;
}
#splash h1 {
  font-size: 55px;
  --wght: 200;
}

/*-----------------------
 OVERLAY SHOW/HIDE TOGGLE
-----------------------*/
.overlay {
  overflow: hidden;
  z-index: 50;
  opacity: 0;
  max-height: 0;
  transition: opacity 1s ease-in-out;
}

[data-mode=intro] #splash {
  max-height: none;
  opacity: 1;
}

[data-mode=stage] #splash {
  max-height: none;
  animation: fade 1ms 1s forwards;
  opacity: 0;
}
[data-mode=stage] #info {
  max-height: none;
  animation: fade 1ms 1s forwards;
  opacity: 0;
}

[data-mode=info] #info {
  max-height: none;
  opacity: 1;
  z-index: 100;
}

@keyframes fade {
  0% {
    max-height: none;
  }
  100% {
    max-height: 0;
  }
}
/*---------------
 MAIN STAGE
---------------*/
#content {
  margin: auto;
  position: relative;
  top: -0.5rem;
  padding: 0 20%;
  font-size: 40px;
  --ss01: 1;
  --slnt: 10;
  font-feature-settings: "ss01" var(--ss01), "ss03" var(--ss03), "ss04" var(--ss04), "ss05" var(--ss05), "ss06" var(--ss06), "ss07" var(--ss07), "ss08" var(--ss08), "ss09" var(--ss09);
  text-align: center;
  letter-spacing: -0.01em;
}

.controls {
  height: 80vh;
  cursor: pointer;
  position: fixed;
  z-index: 100;
  width: 200px;
}

#next {
  right: 0;
  cursor: url("../img/cursor-next.svg"), auto;
}

#prev {
  left: 0;
  cursor: url("../img/cursor-prev.svg"), auto;
}

.button {
  font-size: 16px;
  width: var(--button-width);
  text-align: left;
}
.button::before {
  content: "[ ";
}
.button::after {
  content: " ]";
}
.button:hover {
  cursor: pointer;
}
.button:hover::before {
  content: "{ ";
}
.button:hover::after {
  content: " }";
}

#dateinfo:hover {
  cursor: pointer;
}
#dateinfo:hover::before {
  content: "{ ";
}
#dateinfo:hover::after {
  content: " }";
}

#weather:hover {
  cursor: pointer;
}
#weather:hover::before {
  content: "{  ";
  position: relative;
  top: -2px;
}
#weather:hover::after {
  content: "  }";
  position: relative;
  top: -2px;
}

#playbutton[data-playall=true] {
  position: relative;
  top: -3px;
}
#playbutton[data-playall=true]::before {
  position: relative;
  top: 3px;
}
#playbutton[data-playall=true]::after {
  position: relative;
  top: 3px;
}

#mutebutton[data-mute=false] {
  font-feature-settings: "ss05" 0;
}
#mutebutton[data-mute=true] {
  font-feature-settings: "ss05" 1;
}

header > div, #home, .controls, footer > div, #languages {
  visibility: hidden;
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

/*-----------------------------
ABOUT INFO
-----------------------------*/
#info .back {
  --wdth: 125;
  margin: var(--pad);
}

.container {
  height: 100vh;
  overflow: scroll;
}

.table, .texts {
  margin: var(--pad);
  margin-bottom: calc( 3*var(--pad));
}

.star, .audio {
  visibility: hidden;
  width: 30px;
  text-align: center;
}

.current .star {
  line-height: 1.5;
  visibility: visible;
}

.playing .audio {
  visibility: visible;
}

.table {
  --wght: 350;
  margin-top: var(--pad);
  border-top: 1px solid white;
  padding-top: var(--pad);
}
.table .row {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}
.table .row .text {
  flex: none;
  overflow: hidden;
  width: 70%;
  --slnt: 8;
  position: relative;
  padding-right: 1em;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.table .row .name {
  flex: 1;
  font-family: "Cinema Letter";
  font-size: 1rem;
  top: 3px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.table .row .range {
  text-transform: uppercase;
  --wdth: 125;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  flex: none;
  width: 100%;
  padding-left: 61px;
}
.table .row:hover {
  cursor: pointer;
}
.table .row:hover .audio {
  visibility: visible;
}

.texts {
  margin-top: var(--pad);
  border-top: 1px solid white;
  padding-top: var(--pad);
  --size: 18px;
}
.texts h2 {
  margin: var(--pad) 0;
  text-transform: uppercase;
  --wght: 400;
}
.texts h2:hover {
  cursor: pointer;
}
.texts h2:hover .button::before {
  content: "{ ";
}
.texts h2:hover .button::after {
  content: " }";
}
.texts .button {
  --wght: 400;
  font-size: var(--size);
}
.texts p {
  font-size: var(--size);
  --slnt: 8;
  max-width: 38em;
  font-feature-settings: "onum" 1;
  text-indent: 3em;
  letter-spacing: 0;
}
.texts p:first-child {
  text-indent: 0;
}
.texts a {
  font-feature-settings: "ss03" 1;
}
.texts a:hover {
  font-feature-settings: "ss03" 0;
}

.about {
  position: relative;
  overflow: hidden;
  transition: opacity 600ms ease-in-out;
  max-height: 0;
  opacity: 0;
}
.about.show {
  max-height: none;
  opacity: 1;
}

/*-----------------------------
 LANGUAGE MENU
-----------------------------*/
#languages {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: black;
  color: white;
  border: 0;
  font-family: "Pentameter VF";
  font-size: 16px;
  cursor: pointer;
}
#languages:focus {
  outline: none;
}

[lang=sr] {
  --ss07: 1;
}

[lang=cv] {
  --ss08: 1;
}

[lang=mk] {
  --ss09: 1;
}

/*# sourceMappingURL=style.css.map */
