@font-face{
  font-family: 'Pentameter VF';
  src: url('../fonts/Pentameter-VF.woff2') format('woff2-variations');
  font-style: normal;
}

:root{
  --wght: 500;
  --wdth: 100;
  --slnt: 0;
  --ss01: 1;
  --ss02: 0;
  --ss03: 0;
  --ss04: 0;
  --ss05: 0;
  --ss06: 0;
  --ss07: 0;
  --ss08: 0;
  --ss09: 0;

  --grey: rgb(60,60,60);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-variation-settings: 'wdth' var(--wdth), 'wght' var(--wght), 'slnt' var(--slnt);
}

h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}
body, h2{
	font-size: 18px;
  line-height: 1.4;
  font-family: "Pentameter VF";
  font-weight: normal;
  background: black;
  color: white;
  letter-spacing: 0.05em;
}

// header, footer, .controls{
//   visibility: hidden;
// }
header, footer{
  display: flex;
  justify-content: space-between;
}

main{
  flex:  1;
  display: flex;
  align-items: center;
}

header, footer{
  height: 30px;
  margin: 2rem 2rem;
  flex: none;
  --slnt: 0;
}

section{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
}
.overlay{
  z-index: 50;
}
//intro splash
#splash{
  display: flex;
  align-items: center;
  justify-content: center;

  .intro{
    width: 500px;
  }
  
  text-align: center;

  h1{
    font-size: 45px;
    --wght: 200;
  }
  cursor: pointer;
}
//main area
#stage{
  display: flex;
  flex-direction: column;
}

/*-----------------------
OVERLAY SHOW/HIDE TOGGLE
-----------------------*/

[data-mode=stage] {
  .overlay{
    display: none;
  }
  #splash{
    display: none;
  }
}
[data-mode=lang] {
  #langmenu{
    display: block;
  }
}
[data-mode=info] {
  #info{
    display: flex;
  }
}

#content{
  margin: auto;
  padding: 0 20%;
  font-size: 40px;
  --ss01: 1;
  --slnt: 10;
  --wght: 300;
  font-feature-settings: "ss01" var(--ss01), "ss03" var(--ss03), "ss04" var(--ss04), "ss05" var(--ss05), "ss06" var(--ss06), "ss07" var(--ss07), "ss08" var(--ss08), "ss09" var(--ss09);
  text-align: center;
  letter-spacing: -0.01em;
}

a{
  text-decoration: none;
  color: white;
}

.controls{
  font-size: 30px;
  padding: 1em;
  padding-top: 1.5em;
  cursor: pointer;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}
#next{
  right: 0;
}
#back{
  left: 0;
}

.button{
  width: 65px;
  text-align: left;
  &:hover{
    --wght: 700;
    cursor: pointer;
  }
}

#aboutbutton, #playbutton{
  text-align: right;
}

#playbutton{
  &[data-playing=true], &[data-playing=false]:hover{
    font-feature-settings: "ss05" 0;
  }
  &[data-playing=true]:hover, &[data-playing=false]{
    font-feature-settings: "ss05" 1;
  }
}

#langbutton{
  width: 80px;
}


/*---------------
ABOUT INFO
---------------*/
h2{
  margin: 1em 0;
}

#info{
  display: none;

  // display: flex;
  .texts, .table{
    flex: 1;
    padding: 2em;
  }
  .table{
    height: 100vh;
    padding-top: 4em;
    overflow: scroll;
  }
  h2,p{
    font-feature-settings: "onum" 1;
    font-size: 1.2em;
    --wdth: 80;
    --wght: 400;
  }
  p{
    text-indent: 3em;
    &:first-child{
      text-indent: 0;
    }
    a{
      font-feature-settings: "ss03" 1;
      &:hover{
        font-feature-settings: "ss03" 0;
      }
    }
  }
}

.table {
  font-size: 1.1em;
  .row{
    margin-bottom: 1.1em;
    display: flex;
    .jp{
      width: 120px;
    }
    .description{
      flex: 1;
    }
  }
  .heading, .cell{
    color: var(--grey);
    font-weight: normal;
    text-align: left;
  }

  .text, .weight{
    --slnt: 8;
    font-variation-settings: 'wdth' var(--wdth), 'wght' 400, 'slnt' var(--slnt);
    padding-right: 1em;
  }
  .heading{
    text-transform: uppercase;
    --slnt: 0;
  }
}

// toggle text/sound/font info
.about{
  display: none;
}
[data-infomode=text]{
  .jp, .range, .text{
    color: white;
  }
  [data-info=text]{
    display: block;
  }
}
[data-infomode=sound]{
  .jp, .sound{
    color: white;
  }
  [data-info=sound]{
    display: block;
  }
}
[data-infomode=font]{
  .text, .weight{
    color: white;
    font-variation-settings: 'wdth' var(--wdth), 'wght' var(--wght), 'slnt' var(--slnt);
  }
  [data-info=font]{
    display: block;
  }
}
/*---------------
LANGUAGES
---------------*/
#langmenu{
  padding: 2rem;
  display: none;
}
#languages{
  column-count: 4;
  line-height: 2;
  margin: 2rem 0;
}
.language{
  cursor: pointer;
  &:hover, &.active-lang{
    font-feature-settings: "ss03" 1;
  }
}
[lang=sr]{
  --ss07: 1;
}
[lang=cv]{
  --ss08: 1;
}
[lang=mk]{
  --ss09: 1;
}
